/* colors */
$brand-main-orange: #FD5137;
$brand-main-dark-orange: #ED4C34;
$brand-alt: #D62D93;
$brand-main-green: #166E5A;
$brand-main-yellow: #FEDD61;
$black: #202020;
$dark: #707070;
$dark-grey: #DCDCDC;
$grey: #E4E4E4;
$grey-lighter: #FAFAFA;
$grey-light: #BFBFBF;
$silver: #F0F0F0;
$white: #FFFFFF;
$white-light: #F9F9F9;;
$light-blue: #B1E2DD;
$light-beige: #F4ECE0;

/* font size */
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-medium-xl: 26px;
$font-size-large-xs: 32px;
$font-size-large: 38px;
$font-size-large-xl: 50px;

/* box shadow */
$box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);


